@import './mixins';
@import './_helpers';
.container {
    padding: 0 80px;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

section.VueCarousel {
    padding: 0;
}

.btn {
    @include btn-outline(#2d81c3, #fff);
}

.btn-white {
    @include btn-outline(#fff, #444);
}

.VueCarousel-pagination {
    position: absolute;
    bottom: 40px;
}


/* Grid */

.column {
    flex-basis: 100%;
}

@media screen and (min-width: 800px) {
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .column {
            flex: 1;
        }
        ._2 {
            flex: 2;
        }
        ._25 {
            flex: 2.5;
        }
        ._5 {
            flex: 5;
        }
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding: 0 !important;
    }
    .news {
        .title h2 {
            text-align: center;
        }
        button {
            float: none;
        }
    }
    ul.footer-links li {
        padding-left: 0;
        text-align: center !important;
    }
}

.header-fixed {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #5a7788;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    line-height: 60px;
}

.navbar .logo {
    flex: 1;
    text-align: left;
    margin-left: 40px;
}

.navbar .logo a {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    cursor: auto;
}

.navbar .logo a:hover {}

.navbar nav {
    flex: 1;
}

.navbar label {
    user-select: none;
    cursor: pointer;
    padding: 28px 20px;
    position: relative;
    z-index: 3;
}

.navbar label i {
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
    font-style: normal;
    font-weight: normal;
}

.navbar label i:before,
.navbar label i:after {
    content: '';
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navbar label i,
.navbar label i:before,
.navbar label i:after {
    display: block;
    background: #eee;
}

.navbar label i:before {
    top: 5px;
}

.navbar label i:after {
    top: -5px;
}

.navbar #navbar-toggle {
    display: none;
}

.header #navbar-toggle:checked~.menu {
    visibility: visible;
    opacity: 0.99;
}

.header #navbar-toggle:checked~label {
    background: transparent;
    border-radius: 50%;
}

.header #navbar-toggle:checked~label i {
    background: transparent;
}

.header #navbar-toggle:checked~label i:before {
    transform: rotate(-45deg);
}

.header #navbar-toggle:checked~label i:after {
    transform: rotate(45deg);
}

.header #navbar-toggle:checked~label:not(.steps) i:before,
.header #navbar-toggle:checked~label:not(.steps) i:after {
    top: 0;
}

@media (max-width: 768px) {
    .navbar nav {
        visibility: hidden;
        opacity: 0;
        z-index: 2;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-out;
        display: table;
        background: #ddd;
    }
    .navbar nav ul {
        margin: 0;
        padding: 20px 0;
        display: table-cell;
        vertical-align: middle;
    }
    .navbar nav li {
        display: block;
        text-align: center;
        padding: 5px 0;
        text-align: center;
        font-size: 25px;
        min-height: 50px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }
    .navbar nav li:hover {
        background: #212121;
    }
    .navbar nav li:hover a {
        color: #fff;
        transition: all 0.3s ease-out;
    }
    .navbar nav li a {
        color: #212121;
    }
}

@media (min-width: 769px) {
    .navbar nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
        text-align: center;
        list-style: none;
    }
    .navbar nav li {
        flex: 1;
    }
    .navbar nav li a {
        display: block;
        padding: 0 8px;
        font-size: 16px;
        line-height: 60px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }
    .navbar nav li.active {
        background: #555;
    }
    .navbar nav li:hover {
        background: #333;
    }
    .navbar label {
        display: none;
    }
}


/* Style */

.column {
    padding: 0 15px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

// Grid Layout
// Carousel
* {
    box-sizing: border-box
}

body {
    margin: 0px;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    z-index: 1000;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav>.nav-btn>label:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }
    .nav>#nav-check:not(:checked)+.nav-links {
        height: 0px;
    }
    .nav>#nav-check:checked+.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #222222
}


/* Dropdown */

.dropdown {
    display: inline-block;
    position: relative;
}

.dd-button {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
}

.dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

.dd-button:hover {
    background-color: #eeeeee;
}

.dd-input {
    display: none;
}

.dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    list-style-type: none;
}

.dd-input+.dd-menu {
    display: none;
}

.dd-input:checked+.dd-menu {
    display: block;
}

.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dd-menu li:hover {
    background-color: #f6f6f6;
}

.dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
}

.dd-menu li.divider {
    padding: 0;
    border-bottom: 1px solid #cccccc;
}

.card {
    display: inline-block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
    margin: 20px;
    position: relative;
    margin-bottom: 50px;
    transition: all .2s ease-in-out;
    min-height: 478px;
}

.card:hover {
    /*box-shadow: 0 5px 22px 0 rgba(0,0,0,.25);*/
    // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16), 0 6px 6px 1px rgba(0, 0, 0, 0.08);
    margin-bottom: 50px;
}

.image {
    height: 200px;
    opacity: .7;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.image:hover,
.card:hover .image {
    height: 200px;
    opacity: 1;
}

.text {
    background: #FFF;
    padding: 5px 20px 20px 20px;
    min-height: 200px;
    text-align: justify;
    color: #2d81c3;
    font-weight: 500;
    h3 {
        font-weight: bold;
    }
}

.fab {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    margin-top: -50px;
    right: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
    color: #fff;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    background: #0066A2;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

.fab:hover {
    background: #549D3C;
    cursor: pointer;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.bottom_block {
    background: #4398ca;
    // height:400px;
    h1 {
        font-size: 32px;
    }
    .portrait_image {
        height: 100px;
        width: auto;
        border-bottom: 1px solid #fff;
        margin-bottom: 15px;
        img {
            height: 99px;
        }
    }
}

.text-left {
    text-align: left;
}

.float-left {
    float: left;
}

// footer
#footer {
    .site-footer {
        background-color: #26272b;
        padding: 45px 0 0px;
        font-size: 15px;
        line-height: 24px;
        color: #737373;
    }
    .site-footer ul {
        padding: 0;
    }
    .site-footer ul li {
        list-style: none;
    }
    .site-footer hr {
        border-top-color: #bbb;
        opacity: 0.5
    }
    .site-footer hr.small {
        margin: 20px 0
    }
    .site-footer h6 {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px
    }
    .site-footer a {
        color: #737373;
    }
    .site-footer a:hover {
        color: #3366cc;
        text-decoration: none;
    }
    ul.footer-links {
        padding-left: 25px;
    }
    .footer-links li {
        display: block;
        text-align: left;
    }
    .footer-links a {
        color: #e8e8e8;
        line-height: 2.5;
        font-weight: 700;
    }
    .footer-links a:active,
    .footer-links a:focus,
    .footer-links a:hover {
        color: #3366cc;
        text-decoration: none;
    }
    .footer-links.inline li {
        display: inline-block
    }
    .copyright-text {
        margin: 0
    }
    .copyright-container {
        background-color: #1a1a1a;
    }
    @media (max-width:991px) {
        .site-footer [class^=col-] {
            margin-bottom: 30px
        }
        .container {
            padding: 0;
        }
    }
    @media (max-width:767px) {
        .site-footer {
            padding-bottom: 0
        }
        .container {
            padding: 0;
        }
    }
}

.caption {
    position: absolute;
    font-size: 65px;
    font-weight: 900;
    top: 30%;
    left: 20%;
    color: #fff;
}

.sub_caption {
    position: absolute;
    font-size: 25px;
    font-weight: 900;
    left: 20%;
    top: 45%;
    color: #fff;
}

#image1,
#image2 {
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}


/* (Optional) Apply a "closed-hand" cursor during drag operation. */

#image1:active,
#image2:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}