@mixin btn-outline($color, $bcolor){
  background-color: transparent;
  color: $color;
  border: 2px solid $color; /* Green */
  padding: 8px 12px;
  border-radius:30px;
  transition:  all 0.2s ease-in-out;
  font-weight: 600;
  cursor:pointer;
  &:hover{
    color:$bcolor;
    background-color: $color;
  }
}