<template>
  <div class="home">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <carousel :perPage="1" :autoplay="true" :autoplayTimeout="6000" :loop="true" :autoplayHoverPause="false">
      <slide>
        <img width="100%" src="../assets/hunters.jpg" alt="">
      </slide>
      <slide>
        <img width="100%" src="../assets/nik.jpg" alt="">
      </slide>
      <slide>
        <img width="100%" src="../assets/nobert.jpg" alt="">
      </slide>
    </carousel>
    <section>
      <div class="container">
       	  <div class="row">
       	  	<div class="column">
               <div class="card">

                 <div class="image">
                   <img id="image1" @dragend="change()" draggable="true" src="../assets/image-women-2.jpg" width="100%">
                 </div>

                 <div class="text">

                   <h3>Introduction</h3>
                   <p>Sitecore Habitat is a range of sites demonstrating the capabilities of the Sitecore Experience
                       Platform</p>
                   <p>The solution is a built on the Sitecore Helix guidelines, which focuses on increasing productivity and
                       quality in Sitecore projects.</p>
                   <button class="btn">Read More</button>
                   
                 </div>

               </div>
         
             </div>
       	  	<div class="column">
               <div class="card">

                 <div class="image">
                   <img id="image2" @dragend="change()" src="../assets/programmer.jpg" width="100%">
                 </div>

                 <div class="text">

                   <h3>Modules</h3>
                   <p>The Habitat example implementation has a range of modules which covers the basics of Sitecore website</p>
                   <button class="btn">Read More</button>
                 </div>

               </div>  
             </div>
       	  	<div class="column">
               <div class="card">

                 <div class="image">
                   <img id="image3" src="../assets/program.png" width="100%">
                 </div>

                 <div class="text">

                   <h3>Getting Started</h3>
                   <p>Sitecore Helix a defined methodology with conventions and practices - Habitat is an example
                       implementation available for your understanding.</p>
                   <button class="btn">Read More</button>
                   
                 </div>

               </div>  
             </div>
       	  </div>
         
      </div>
    </section>
    <section class="bottom_block">
      <div class="container">
         <div class="row">
              <div class="_2 m-b-80">
                <h1>Download Habitat Now!</h1>
                <p>Habitat is available as a Sitecore Package and the sourcecode is available on Github.</p>
                <button class="btn-white">
                  visit habitat on github
                </button>
              </div>
              <div class="column m-b-80">
                <div class="portrait_image">
                  <img src="../assets/potrait.png" alt="">
                </div>
                <i>Anders Laub Christoffersen</i><br>
                <i>Sitecore MVP, Pentia A/S</i>
                <p>[Habitat...] is nothing less than groundbreaking, it is a real revolution in the way that
                              Sitecore teaches developers to work with their product.</p>
              </div>
              <div class="column news m-b-80">
                <div class="title">
                  <h2 class="text-left">News</h2>
                </div>
                <button class="btn-white float-left">Read More</button>
              </div>
            </div>
      </div>
    </section>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  },
  data (){
    return {
    }
  },
  methods:{
    change(){
      var a = $('#image1').attr('src');
      var b = $('#image2').attr('src');
      $('#image1').attr('src', b);
      $('#image2').attr('src', a);
    }
  },
}
</script>
