<template>
<div>
  <carousel>
	  <slide>
	    Slide 1 Content
	  </slide>
	  <slide>
	    Slide 2 Content
	  </slide>
</carousel>
</div>
</template>
<script>
export default {
    name: 'Carousel',
    props: {
        msg: String
    }
}
</script>
