<template>
  <div class="header header-fixed">
          <div class="navbar container">
              <div class="logo"><a href="#home">HABITAT</a></div>
              <input type="checkbox" id="navbar-toggle" >
              <label for="navbar-toggle"><i></i></label>
              <nav class="menu">
                  <ul>
                      <li><a href="#home">Home</a></li>
                      <li><a href="#about">About</a></li>
                      <li><a href="#portfolio">Modules</a></li>
                      <li><a href="#contacts">More Info</a></li>
                  </ul>
              </nav>        
          </div>
      </div>
</template>

<script>
export default {
  name: 'Header',
}
</script>
