<template>
  <div id="app">
    <Header/>   
    <router-view/>
    <div id="footer">
        <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="column m-b-40">
            <ul class="footer-links">
              <li><a href="javascript:;">Community</a></li>
              <li><a href="javascript:;">Documentation</a></li>
              <li><a href="javascript:;">Knowledge Base</a></li>
              <li><a href="javascript:;">Partner Network</a></li>
            </ul>
          </div>
          <div class="column m-b-40">
            <ul class="footer-links">
              <li><a href="javascript:;">Best Practice Blogs</a></li>
              <li><a href="javascript:;">Business Blogs</a></li>
              <li><a href="javascript:;">Technical Blogs</a></li>
              <li><a href="javascript:;">Contact Sitecore</a></li>
            </ul>
          </div>
          <div class="_2 m-b-40">
            <h6>About Habitat</h6>
            <p class="text-justify">Habitat sites are demonstration sites for the Sitecore® Experience Platform™.
                    The sites demonstrate the full set of capabilities and potential of the platform through a number of
                    both technical and business scenarios.</p>
                    <button class="btn">Example
                    Available in Github</button>
          </div>

          <div class="_2 m-b-40">
            <h6>Contact Information</h6>
            <address>
                    <strong>Sitecore Corporation</strong>
                    2320 Marinship Way <br>
                    Sausalito, CA 94965 <br>
                    USA
                </address>
                <ul class="contact-info">
                    <li><a href="tel:+14153800600 "><i class="fas fa-phone"></i>&nbsp;&nbsp;+1 415 380 0600 </a></li>
                    <li><a href="mailto:sales@sitecore.net"><i class="fa fa-envelope"></i>&nbsp;&nbsp;sales@sitecore.net</a></li>
                </ul>
          </div>
        </div>
      </div>
      <div class="m-t-50">
        <div class="copyright-container p-t-20 p-b-20">
            <p class="copyright-text m-b-0">© Copyright 2019, <a href="#">SiteCore</a>. All Rights Reserved 
            </p>
      <p class="m-t-0 m-b-0">“Habitat” as used here is for demonstration purposes only and to represent the software and services
          provided by Sitecore further described at
          <a href="www.sitecore.net" target="_blank" title="www.sitecore.net">www.sitecore.net</a>.</p>
        </div>
      </div>
</footer>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'

export default {
  name: 'home',
  components: {
    Header
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center; 
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
